In [63]:
# import dependencies
import pandas as pd

In [64]:
fraud = pd.read_csv("data/fraud_dataset_example.csv")

In [65]:
fraud.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [66]:
fraud.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,101613.000000,1.016130e+05,1.016130e+05,1.016130e+05,1.016130e+05,1.016130e+05,101613.000000,101613.0
mean,8.523457,1.740901e+05,9.071753e+05,9.234992e+05,8.810428e+05,1.183998e+06,0.001142,0.0
std,1.820681,3.450199e+05,2.829575e+06,2.867319e+06,2.399949e+06,2.797761e+06,0.033768,0.0
min,1.000000,3.200000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0
25%,8.000000,1.001659e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.0
50%,9.000000,5.338541e+04,2.019047e+04,0.000000e+00,2.105800e+04,5.178343e+04,0.000000,0.0
75%,10.000000,2.124984e+05,1.947150e+05,2.192178e+05,5.919217e+05,1.063122e+06,0.000000,0.0
max,10.000000,1.000000e+07,3.893942e+07,3.894623e+07,3.400874e+07,3.894623e+07,1.000000,0.0

In [67]:
# feature engineering
fraud['percentOut'] = fraud['amount']/fraud['oldbalanceOrg']

In [68]:
# preview
fraud.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,percentOut
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,0.057834
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,0.087735
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0,1.000000
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0,1.000000
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,0.280795

In [69]:
fraud['isFraud'].value_counts()

0    101497
1       116
Name: isFraud, dtype: int64

In [70]:
fraud['step'].value_counts()

9     37628
10    28887
8     21097
7      6837
1      2708
6      1660
2      1014
5       665
4       565
3       552
Name: step, dtype: int64

In [74]:
fraud['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [75]:
fraud.loc[fraud['percentOut']>1]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,percentOut
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.0,M1176932104,0.00,0.00,0,0,1.506687
10,1,DEBIT,9644.94,C1900366749,4465.00,0.0,C997608398,10845.00,157982.12,0,0,2.160121
13,1,PAYMENT,11633.76,C1716932897,10127.00,0.0,M801569151,0.00,0.00,0,0,1.148786
15,1,CASH_OUT,229133.94,C905080434,15325.00,0.0,C476402209,5083.00,51513.44,0,0,14.951644
16,1,PAYMENT,1563.82,C761750706,450.00,0.0,M1731217984,0.00,0.00,0,0,3.475156
...,...,...,...,...,...,...,...,...,...,...,...,...
101608,10,PAYMENT,7477.02,C513257306,785.00,0.0,M524833426,0.00,0.00,0,0,9.524866
101609,10,CASH_OUT,282252.35,C210473293,220339.29,0.0,C1172042998,95156.01,91286.97,0,0,1.280990
101610,10,PAYMENT,17289.01,C807582280,0.00,0.0,M334249577,0.00,0.00,0,0,inf
101611,10,TRANSFER,1347146.45,C1315779140,1605.00,0.0,C1631408038,541639.43,2186953.43,0,0,839.343583
101612,10,CASH_OUT,469539.21,C515691325,31133.00,0.0,C1383702768,0.00,469539.21,0,0,15.081721

In [76]:
fraud.loc[fraud['percentOut']==float('inf')]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,percentOut
29,1,PAYMENT,9920.52,C764826684,0.0,0.0,M1940055334,0.00,0.00,0,0,inf
30,1,PAYMENT,3448.92,C2103763750,0.0,0.0,M335107734,0.00,0.00,0,0,inf
31,1,PAYMENT,4206.84,C215078753,0.0,0.0,M1757317128,0.00,0.00,0,0,inf
32,1,PAYMENT,5885.56,C840514538,0.0,0.0,M1804441305,0.00,0.00,0,0,inf
33,1,PAYMENT,5307.88,C1768242710,0.0,0.0,M1971783162,0.00,0.00,0,0,inf
...,...,...,...,...,...,...,...,...,...,...,...,...
101569,10,TRANSFER,382833.44,C592591740,0.0,0.0,C1121863378,850265.20,1104868.39,0,0,inf
101570,10,TRANSFER,212921.38,C27914407,0.0,0.0,C1103621993,613752.99,319903.60,0,0,inf
101595,10,CASH_OUT,337447.20,C1456319459,0.0,0.0,C19486515,4190284.56,5825001.65,0,0,inf
101600,10,CASH_OUT,484955.57,C645274928,0.0,0.0,C1987564320,2209179.09,2522512.75,0,0,inf
101610,10,PAYMENT,17289.01,C807582280,0.0,0.0,M334249577,0.00,0.00,0,0,inf

In [77]:
fraud.loc[fraud['percentOut']>1]['isFraud'].value_counts()

0    58221
1        5
Name: isFraud, dtype: int64

In [78]:
fraud.loc[fraud['percentOut']==float('inf'), 'percentOut'] = float(0)

In [79]:
fraud.loc[fraud['percentOut']==0].head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,percentOut
29,1,PAYMENT,9920.52,C764826684,0.0,0.0,M1940055334,0.0,0.00,0,0,0.0
30,1,PAYMENT,3448.92,C2103763750,0.0,0.0,M335107734,0.0,0.00,0,0,0.0
31,1,PAYMENT,4206.84,C215078753,0.0,0.0,M1757317128,0.0,0.00,0,0,0.0
32,1,PAYMENT,5885.56,C840514538,0.0,0.0,M1804441305,0.0,0.00,0,0,0.0
33,1,PAYMENT,5307.88,C1768242710,0.0,0.0,M1971783162,0.0,0.00,0,0,0.0
34,1,PAYMENT,5031.22,C247113419,0.0,0.0,M151442075,0.0,0.00,0,0,0.0
35,1,PAYMENT,24213.67,C1238616099,0.0,0.0,M70695990,0.0,0.00,0,0,0.0
44,1,PAYMENT,5086.48,C598357562,0.0,0.0,M1593224710,0.0,0.00,0,0,0.0
48,1,CASH_OUT,5346.89,C512549200,0.0,0.0,C248609774,652637.0,6453430.91,0,0,0.0
79,1,TRANSFER,77957.68,C207471778,0.0,0.0,C1761291320,94900.0,22233.65,0,0,0.0

In [80]:
# export new dataframe to csv
fraud.to_csv("data/fraud_dataset_engineered.csv", index=False)